#Body_1 {
	display: flex;
	flex-direction: column;
	
	background-color: #f2f7f8;
	font-family: Georgia;
	height: 100%;
	margin: 0;
}

#intro_1 {
	background-color: #87ca97;
}

#intro_1 .introText_1 {
	color: #f2f7f8;
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
}

#intro_1 .introTextTop_1 {
	border-bottom: solid 2px;
}

#intro_1 .introTextBottom_1 {
	border-top: solid 2px;
}

#intro_1 .introPicture_1 {
	display: block;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
}

#main_1 {
	background-color: #c5bce1;
	width: 70vw;
	text-align: right;
	margin: 1vw;
	padding: 1.5vw;
}

#main_1 .paragraph_1 {
	text-align: left;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 1.5vw;
}

#mainList_1 {
	list-style-type: none;
}

#mainList_1 .listItem_1:before {
	content: "\2713";
}

#mainList_1 .listItem_1 {
	text-align: left;
	margin-top: 1vw;
}

#main_1 .button_1 {
	width: 20%;
	text-align: center;
	background-color: #87ca97;
	border: solid black 2px;
	border-radius: 5px;
	margin-top: 1vw;
	padding: 0.5vw;
}

#main_1 .button_1:hover{
	background-color: #45a049;
}

.sidebar_1 {
	width: 22vw;
	float: right;
	margin-right: 1vw;
	margin-bottom: 1vw;
	clear: right;
}

#footerBody_1 {
	background-color: #87ca97;
}

#footerText_1 {
	font-weight: bold;
	font-size: 1.20vw;
	text-align: center;
}

#footerContact_1 {
	list-style-type: none;
	text-align: center;
}

#footerContact_1 .footerItem_1 {
	display: inline;
	color: #f2f7f8;
	font-size: 1.20vw;
	font-weight: bold;
	padding: 0.5vw;
}

#footerContact_1 .footerItem_1:hover {
	background-color: #c5bce1;
	color: black;
}

.footerItem_1 .fa {
	text-decoration: none;
	color: #f2f7f8;
	padding: 0.2vw;
}

.footerItem_1 .fa:hover {
	color: black;
}

.iframe_footer {
	border: none;
	margin-top: auto;
	
}

