#headerBody_2
{
	background-color: #87ca97;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7vw;
}

#headerTitle_2
{
	display: inline-block;
	font-weight: bold;
	font-size: 3.5vw;
	margin: 0;
	display: inline-flex;
}

#headerTitleText_2
{
	display: inline-block;
	color: #f2f7f8;
	font-weight: bold;
	font-size: 1.5vw;
	margin: 0;
	display: inline-flex;
	padding-left: 20px;
	padding-top: 16px;
}

#templateBody_2
{
	background: linear-gradient(to right, white, #f2f7f8, white);
	margin-right: 5%;
	margin-left: 5%;
	margin-top: -1%;
}

.bodyButton
{
	width: 20%;
	height: 3vw;
	margin-left: 40%;
	margin-bottom: 1vw;

	border: 2px solid black;
	border-color: ;

	background-color: #d9d9d9;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

.bodyButton:hover
{
	width: 20%;
	margin-left: 40%;

	border: 2px solid #87ca97;
	background-color: #87ca97;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

#logo_2
{
	width: 6vw;
	height: 6vw;
}


.iframe_header
{
	width: 100%;
	height: 7vw;
	border: none;
}

.templateLandscape_2
{
	width: 40%;
	height: auto;

	border: 2px solid black;

	margin-left: 30%;

	display: inline-block;
	border-radius: 5px;
}

.templatePortrait_2
{
	width: 30%;
	height: auto;

	border: 2px solid black;

	margin-left: 35%;
	display: inline-block;

	border-radius: 5px;
}


.radio_2
{
	display: inline-block;
}

#instructions_2
{
	text-align: center;
	font-size: 1.25em;
}

/* Template 1: */

#template1_head_2
{
	width: 6vw;
	height: 6vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-left: 1vw;

	float: left;
}

#template1_data_2
{
	width: 25vw;
	height: 8vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-right: 1vw;
	margin-left: 1vw;

	float: right;
}

#template1_obs_2
{
	width: 30vw;
	height: 5vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 2vw;
	margin-right: 1.5vw;
	float: right;
}

/* Template 2: */

#template2_head_2
{
	width: 10vw;
	height: 10vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-left: 1vw;

	float: left;
}

#template2_data_2
{
	width: 22vw;
	height: 5vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-right: 1vw;

	float: right;
}

#template2_obs_2
{
	width: 22vw;
	height: 5vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-right: 1vw;
	margin-bottom: 1vw;

	float: right;
}

/* Template 3: */

#template3_head_2
{
	width: 10vw;
	height: 10vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-right: 1vw;

	float: right;
}

#template3_data_2
{
	width: 20vw;
	height: 5vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-left: 1vw;

	float: left;
}

#template3_obs_2
{
	width: 20vw;
	height: 5vw;

	border: 2px solid black;
	border-radius: 5px;

	margin-top: 1vw;
	margin-left: 1vw;
	margin-bottom: 1vw;

	float: left;
}

/* Template 4: */

#template4_head_2
{
	width: 15vw;
	height: 15vw;

	border: 2px solid black;
	border-radius: 5px;

	margin: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#template4_data_2
{
	width: 25vw;
	height: 12vw;

	border: 2px solid black;
	border-radius: 5px;

	margin: auto;
	margin-bottom: 1vw;
}

#template4_obs_2
{
	width: 25vw;
	height: 7vw;

	border: 2px solid black;
	border-radius: 5px;

	margin: auto;
	margin-bottom: 1vw;
}

/* Template 5: */

#template5_head_2
{
	width: 25vw;
	height: 10vw;

	border: 2px solid black;
	border-radius: 5px;

	margin: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#template5_data_2
{
	width: 25vw;
	height: 20vw;

	border: 2px solid black;
	border-radius: 5px;

	margin: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
}

#template5_obs_2
{
	width: 25vw;
	height: 10vw;

	border: 2px solid black;
	border-radius: 5px;

	margin: auto;
	margin-top: 1vw;
	margin-bottom: 1vw;
}
