/*start ALEX */
#headerBody_2
{
  background-color: #87CA97;
  /* overflow: hidden; */
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vw;
}

#headerTitle_2
{
  /* margin-left: 20%; */
  display: inline-block;
  font-weight: bold;
  /* margin-top: 1vw; */
  font-size: 3.5vw;
  margin: 0;
  display: inline-flex;
}

#headerTitleText_2
{
  display: inline-block;
  /* margin-left: 1vw; */
  color: #F2F7F8;
  font-weight: bold;
  font-size: 1.5vw;
  margin: 0;
  display: inline-flex;
  padding-left: 20px;
  padding-top: 16px;
}

#templateBody_2
{
  background: linear-gradient(to right, white, #f2f7f8, white);
  font-family: Georgia;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: -1%;
}

/* Logo */

#logo_template1_2
{
  width: 6vw;
  height: 6vw;
}

#logo_template2_2
{
  width: 10vw;
  height: 10vw;
}

#logo_template3_2
{
  width: 10vw;
  height: 10vw;
}

#logo_template4_2
{
  width: 15vw;
  height: 15vw;
}

#logo_template5_2
{
  width: 25vw;
  height: 10vw;
}

.templateLandscape_2
{
  width: 40%;
  height: auto;

  border: 2px solid black;

  margin-left: 30%;

  display: inline-block;
  border-radius: 5px;
}

.templatePortrait_2
{
  width: 30%;
  height: auto;

  border: 2px solid black;

  margin-left: 35%;
  display: inline-block;

  border-radius: 5px;
}

.radio_2
{
  display: inline-block;
}

#instructions_2
{
  text-align: center;
  font-size: 1.25em;
}

/* Template 1: */

#template1_head_2
{
  width: 6vw;
  height: 6vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-left: 1vw;

  float: left;
}

#template1_data_2
{
  width: 25vw;
  height: 8vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-right: 1vw;
  margin-left: 1vw;

  float: right;
}

#template1_obs_2
{
  width: 30vw;
  height: 7vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 2vw;
  margin-right: 1.5vw;
  float: right;
}

/* Template 2: */

#template2_head_2
{
  width: 10vw;
  height: 10vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-left: 1vw;

  float: left;
}

#template2_data_2
{
  width: 22vw;
  height: 5vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-right: 1vw;

  float: right;
}

#template2_obs_2
{
  width: 22vw;
  height: 7vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;

  float: right;
}

/* Template 3: */

#template3_head_2
{
  width: 10vw;
  height: 10vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-right: 1vw;

  float: right;
}

#template3_data_2
{
  width: 20vw;
  height: 5vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-left: 1vw;

  float: left;
}

#template3_obs_2
{
  width: 20vw;
  height: 7vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;

  float: left;
}

/* Template 4: */

#template4_head_2
{
  width: 15vw;
  height: 15vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#template4_data_2
{
  width: 25vw;
  height: 12vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  margin-bottom: 1vw;
}

#template4_obs_2
{
  width: 25vw;
  height: 7vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  margin-bottom: 1vw;
}

/* Template 5: */

#template5_head_2
{
  width: 25vw;
  height: 10vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#template5_data_2
{
  width: 25vw;
  height: 20vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#template5_obs_2
{
  width: 25vw;
  height: 10vw;

  border: 2px solid black;
  border-radius: 5px;
  background-color: white;

  margin: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
/* final ALEX */

/* start LAVINIA */
#bodyL {
  background-color: #F2F7F8;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: -1%;
}
 .iframe_header{
     width: 100%;
     height: 7vw;
     border: none;
}
 .containerUpload {
     margin: auto;
     padding: 40px;
     width: 25%;
}
 .upload-btn-wrapper {
     position: relative;
     display: block;
}

 .upload-btn-wrapper input[type=file] {
     line-height: 3.6em;
     width: 112px;
     height: 37px;
     position: absolute;
     transform: translateX(-100%);
     opacity: 0;
}
 input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #CCC;
     border-radius: 4px;
     box-sizing: border-box;
}
 input[type=number], input[type=date], select {
     width: 100%;
     padding: 0.75em 1.25em;
     margin: 0.5em 0;
     display: inline-block;
     border: 1px solid #CCC;
     border-radius: 4px;
     box-sizing: border-box;
}
 input[type=submit], input[type=button] {
     background-color: #4CAF50;
     color: white;
     padding: 0.875em 1.25em;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     width: 150px;
     display: block;
     margin: auto;
     text-align: center;
}
 input[type=submit]:hover, input[type=button]:hover {
     background-color: #45a049;
}

 .container {
     border-radius: 5px;
     padding: 0.875em 0.6em;
     display: block;
     margin: auto;
     text-align: center;
}
 .completeFormL {
     margin: auto;
}
 p {
     text-align: left;
}
 .displayBlockL {
     display: block;
}
 .fontTypeL {
     font-family: Georgia;
     font-size: 1.25em;
     text-align: center;
}
 .width50L {
     width: 50%;
}
 .widthForm {
     width: 50%;
}

@media (max-width: 992px) {
    .widthForm {
      width: 75%;
    }
 }
 @media (max-width: 670px) {
     .widthForm {
         width: 95%;
    }
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
#selectBackColor {
  background-color: white;
}
.secondContainer {
  border-radius: 5px;
  padding: 0.875em 0.6em;
  display: block;
  margin: auto;
  text-align: left;
}
#generateFields {
  margin-bottom: 10px;
}
.hiddenL {
  visibility: hidden;
}

/* colors for background color badge */
.Grey {
  background-color: #FAEBD7;
  color: black;
}
.Woody {
  background-color: #DEB887;
  color: black;
}
.Lavender {
  background-color: #E6E6FA;
  color: black;
}
.Light_Cyan {
  background-color: #E0FFFF;
  color: black;
}
.Pale_Turquoise {
  background-color: #EAFBFB;
  color: black;
}
.Pale_Green {
  background-color: #B6FCB6;
  color: black;
}
.Orange {
  background-color: #FFD280;
  color: black;
}
.Light_Coral {
  background-color: #FAD1D1;
  color: black;
}
.Light_Purple {
  background-color: #E7D2F9;
  color: black;
}
.Light_Yellow {
  background-color: #FFFFB3;
  color: black;
}

/* font type */
.Arial {
  font-family: Arial;
}
.Calibri {
  font-family: Calibri;
}
.Courier {
  font-family: Courier;
}
.Times_New_Roman {
  font-family: Times New Roman;
}
.Verdana {
  font-family: Verdana;
}
/* font color */
.Black {
  color: black;
  font-weight: bold;
}
.Indigo {
  color: #4B0082;
  font-weight: bold;
}
.Dark_Green {
  color: #133A24;
  font-weight: bold;
}
.Dark_Blue {
  color: #000066;
  font-weight: bold;
}
.Dark_Red {
  color: #660000;
  font-weight: bold;
}
/* final LAVINIA */

/* start ADA */
#body_1 {
  background-color: #F2F7F8;
  font-family: Georgia;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: -1%;
}

#intro_1 {
  background-color: #87ca97;
}

#intro_1 .introText_1 {
  color: #F2F7F8;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

#intro_1 .introTextTop_1 {
  border-bottom: solid 2px;
}

#intro_1 .introTextBottom_1 {
  border-top: solid 2px;
}

#intro_1 .introPicture_1 {
  display: block;
  width: 75%;
  margin-right: auto;
  margin-left: auto;
}

#main_1 {
  background-color: #C5BCE1;
  text-align: left;
  width: 62.5vw;
  padding: 1.5vw;
}

#main_1 h1, h2 {
  text-align: right;
}

#main_1 .paragraph_1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 1.5vw;
}

#mainList_1 {
  list-style-type: none;
}

#mainList_1 .listItem_1:before {
  content: "\2713";
}

#mainList_1 .listItem_1 {
  text-align: left;
  margin-top: 1vw;
}

.btn {
  text-align: center;
  background-color: #87CA97;
  border: solid black 2px;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.5vw;
}

.btn_1 {
  width: 20%;
  margin-left: 1.5vw;
}

.btn_1:hover {
  background-color: #45A049;
}

.btnL {
  width: 112px;
  height: 37px
}

.btn_central {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.btn_central:hover {
  background-color: #45A049;
}
.sidebar_1 {
  width: 22vw;
  float: right;
  margin-bottom: 1vw;
  clear: right;
}

#footerBody_1 {
  background-color: #87CA97;
}

#footerText_1 {
  font-weight: bold;
  font-size: 1.20vw;
  text-align: center;
}

#footerContact_1 {
  list-style-type: none;
  text-align: center;
}

#footerContact_1 .footerItem_1 {
  display: inline;
  color: #F2F7F8;
  font-size: 1.20vw;
  font-weight: bold;
  padding: 0.5vw;
}

#footerContact_1 .footerItem_1:hover {
  background-color: #C5BCE1;
  color: black;
}

.footerItem_1 .fa {
  text-decoration: none;
  color: #F2F7F8;
  padding: 0.2vw;
}

.footerItem_1 .fa:hover {
  color: black;
}

.iframe_footer {
  width: 100%;
  border: none;
  margin-top: 1vw;
}

#outputText_2 {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 1.5vw;
}
/* final ADA */
