body {
     background-color: #f2f7f8;
}
 .iframe_header{
     width: 100%;
     height: 7vw;
     border: none;
}
 .containerUpload {
     margin: auto;
     padding: 40px;
     width: 25%;
}
 .upload-btn-wrapper {
     position: relative;
     display: block;
}
 .btn {
     border: 2px solid black;
     border-radius: 5px;
     color: black;
     background-color: #87ca97;
		 font-weight: bold;
     width: 112px;
     height: 37px;
}
 .upload-btn-wrapper input[type=file] {
     line-height: 3.6em;
     width: 112px;
     height: 37px;
     position: absolute;
     transform: translateX(-100%);
     opacity: 0;
}
 input[type=text], select {
     width: 100%;
     padding: 12px 20px;
     margin: 8px 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}
 input[type=number], input[type=date], select {
     width: 100%;
     padding: 0.75em 1.25em;
     margin: 0.5em 0;
     display: inline-block;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
}
 input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 0.875em 1.25em;
     margin: 8px 0;
     border: none;
     border-radius: 5px;
     cursor: pointer;
		 width: 150px;
     display: block;
     margin: auto;
     text-align: center;
}
 input[type=submit]:hover {
     background-color: #45a049;
}

 .container {
     border-radius: 5px;
     padding: 0.875em 0.6em;
     display: block;
     margin: auto;
     text-align: center;
}
 .completeFormL {
     margin: auto;
}
 p {
     text-align: left;
}
 .displayBlockL {
     display: block;
}
 .fontTypeL {
     font-family: Georgia;
     font-size: 1.25em;
     text-align: center;
}
 .width50L {
     width: 50%;
}
 .widthForm {
     width: 50%;
}

@media (max-width: 992px) {
		.widthForm {
			width: 75%;
		}
 }
 @media (max-width: 670px) {
		 .widthForm {
				 width: 95%;
		}
}
.m-t-10 {
  margin-top: 10px;
}
.m-b-10 {
  margin-bottom: 10px;
}
#selectBackColor {
  background-color: white;
}
.secondContainer {
  border-radius: 5px;
  padding: 0.875em 0.6em;
  display: block;
  margin: auto;
  text-align: left;
}
/* colors for background color badge */

.antiqueWhite {
  background-color: #FAEBD7;
  color: black;
}
.burlyWood {
  background-color: #DEB887;
  color: black;
}
.lavender {
  background-color: #E6E6FA;
  color: black;
}
.lightCyan {
  background-color: #E0FFFF;
  color: black;
}
.paleTurquoise {
  background-color: #eafbfb;
  color: black;
}
.paleGreen {
  background-color: #b6fcb6;
  color: black;
}
.orange {
  background-color: #ffd280;
  color: black;
}
.lightCoral {
  background-color: #fad1d1;
  color: black;
}
.ligPurple {
  background-color: #e7d2f9;
  color: black;
}
.lightYellow {
  background-color: #ffffb3;
  color: black;
}
/* font type */
.arial {
  font-family: Arial;
}
.calibri {
  font-family: Calibri;
}
.courier {
  font-family: Courier;
}
.timesNewRoman {
  font-family: Times New Roman;
}
.verdana {
  font-family: Verdana;
}
/* font color */
.black {
  color: black;
  font-weight: bold;
}
.indigo {
  color: #4B0082;
  font-weight: bold;
}
.darkGreen {
  color: #133a24;
  font-weight: bold;
}
.darkBlue {
  color: #000066;
  font-weight: bold;
}
.darkRed {
  color: #660000;
  font-weight: bold;
}
